.banner {
    height: 35rem;
    background-image: url("../img/galeriaAnaLeo/portadaAnaLeo.webp");
  background-size: cover;
  }
 .btnWhatsapp{
     border: none;
 } 
  @media screen and (min-width: 768px) {
    .dondeCuando img {
        height: 18rem;
      } 
  }