html {
  background-color: #111;
}
h1, h2,
h3,
h4,
h5,
p, #reloj p, .banner p,
.btnMapa,
.btnFecha {
  color: #c9a145;
}
h1{
  font-family: "Great Vibes", cursive;
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0);
}
.textoBanner{
  justify-content:flex-end;
 margin-bottom: 0;
  margin-top: 24rem;
  height: 25rem;
}
.textoBanner h2{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase ;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0);
}

.btnAudio{
    background-color: #c79b33;
  }
  .btnAudio i{
      color: black;
  }
.banner {
    background-image: url("../img/galeriaEliana/fotoPortada.webp");
    height: 35rem;
  background-size: cover;
}
  .banner .separadorInicio{
    margin-top: 3rem;
  }
  .banner p{
    margin-top: 9rem;
  }
  .textoBanner p{
    font-size: 1.1rem;
    margin-top:0 ;
   }
  .separadorFin{
    margin-bottom: 3rem;
  }
  #primerSeparador{
    margin-top: 0rem;
  }
 .dondeCuando h3{
   margin-top: 10rem;
 } 
 .precioTarjeta{
   display: flex;
   flex-direction: column;
   align-items: center;
  margin-top: 5rem;
 }
 .precioTarjeta img{
   margin: 1rem auto;
   width: 10rem;
 }
 .precioTarjeta span{
   font-weight: bold;
   margin-right: 1rem;
 }
 .precioTarjeta p{
   padding: .2rem;
 }
 #aclaracionPagos{
  text-transform: uppercase;
  text-align: center;
  font-size: .8rem;
  margin-top: 1rem;
  padding: 2rem;
 }
.btnDatosBancarios {
  background-color: #c9a145;
  border: none;
  border-radius: .2rem;
  margin-top: 2rem;
}
.contDatosBancarios span{
  margin-right: 1rem;
}
.separadorInicio {
  background-image: url("../img/galeriaEliana/ornamenta1.png");
}
.separadorFin {
  background-image: url("../img/galeriaEliana/ornamenta1.png");
}
.btnWhatsapp{
    background-color: #c9a145;
    color: black;
    border-radius: .2;
}
.btnWhatsapp i{
    color: black;
}
.navBar{
    background-color: #c79b33;
}
.navMenu li a{
  color:#c9b27e;
}
.navMenu{
  background-color: #111;
}
.instagram {
    background: #c9b27e;
    background: linear-gradient(222deg, #c79b33, #c9a145, #bb9848, #ccb171);
    color: black;
}
.instagram p{
    color: black;
}
.instagram a{
    color: black;
}
@media screen and (min-width: 768px) {
  .navMenu {
    background-color: #c79b33;
  }
  .navMenu li a{
    color: black;
  }
  .navMenu li a:hover {
    color: white;
  }
  h1{
    font-size: 5rem;
  }
  .textoBanner h2{
    font-size: 2rem;
}
.textoBanner{
  margin-top: 45rem;
}
.textoBanner p{
  font-size: 1.5rem;
}
.banner {
  height: 60rem;
background-size: contain;
}
}

