@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
html{
    background-color: #151515;
    color: white;
}
*{
    font-family: 'Playfair Display', serif;
}
h3{
    font-size: 1.5rem;
    color: #f7ca6f;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.banner{
    background-image: none;
    width: 90%;
    border-color: white;
    border:solid;
    margin: 1rem auto;
    height: 35rem;
    padding-top: 0rem;
}
.anillos{
    background-image: url("../img/galeriaFlorMati/anillos.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 5rem;
    height: 5rem;
}
.textoBanner{
    height: 20rem;
    justify-content: space-between;
    margin-top: 4rem;
   
}

.textoBanner h1{
    padding: .5rem;
    font-size: 3.1rem;
    text-align: center;
    text-shadow: none;
}
.textoBanner h1 span{

}
.textoBanner h2{
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;

    text-shadow: none;
    color: white;
}
.banner p{
    color: white;
    text-shadow: none;
}
#reloj{
    z-index: 999;
}
.separadorInicio{
    z-index: 1;
    background-image: url("../img/galeriaFlorMati/ornamenta1florMati.png");
    height: 15rem;
}
.nombreSalon{
    text-align: center;
}
.parroquia{
    margin-top: 1rem;
    /* padding-top: 0rem; */
    background-image: url("../img/galeriaFlorMati/ornamentaIzquierdaFlorMati.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -6rem;
}
.salon{
    background-image: url("../img/galeriaFlorMati/ornamentaDerechaFlorMati.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 8rem;
    background-position-y: -.5rem ;
}
.dondeCuando a{
    color: white;
}
.decoracion{
    width: 100%;
    height: 22rem;
    position: absolute;
    margin-top: 83rem;
    margin-left: 0rem;
    z-index: -1;
    background-image: url("../img/galeriaFlorMati/ornamentaCostadoflorMati.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -10rem;
}
.regalos{
    margin-bottom: 2rem;
}
.btnDatosBancarios i{
    color: #222;
}
.contDatosBancarios{
    width: 95%;
    padding: 1rem;
    font-size: .5rem;
}
.contDatosBancarios p{
    text-align: center;
}
.contDatosBancarios .textoBanco{
    font-size: .8rem;
    margin-top: 2rem;
    font-weight: bold;
    text-align:center;
}
.btnWhatsapp{
    width: 12.8rem;
}
.confirmarA{
    margin-bottom: 1rem;
}
.btnAudio{
    background-color: #f7ca6f;
}
.dondeCuando{
    width: 100%;
}
.instagram .hashtag {
    font-size: 1.7rem;
}
@media screen and (min-width: 768px) {
    h3{
        font-size: 5rem;
    }
    .textoBanner h1{
        font-size: 7rem;
    }
    .textoBanner h2{
        font-size: 2rem;
    }
    .banner{
        margin-top: 0rem;
        width: 40rem;
        height: 45rem;
        padding-top: 2rem;
    }
    .textoBanner{
        height: 25rem;
        justify-content: space-between;
        margin-top: 5rem;
    }
    
    .banner p{
        font-size: 1.1rem;
    }
    .dondeCuando h4{
        font-size: 1.5rem;
    }
    h3{
        font-size: 3rem;
    }
    section{
        width: 100%;
        margin: 0 auto;
    }
    article{
        width: 60%;
        margin: 0 auto;
    }
    .dondeCuando img {
        width: 37rem;
        height: 25rem;
      }
    .parroquia{
        background-size: 30rem;
        background-position-x: 29rem;
        background-position-y: 2rem;
    }
    .salon{
        padding-top: 5rem;
        margin-top: 2rem;
        background-size: 30rem;
        background-position-x: 53rem;
        background-position-y: 2rem;
        
    }
    .vestimenta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .decoracion{
        margin-top: 167rem;
        margin-left: -19rem;
        background-position-x: 0rem;
    }
    .regalos{
        width: 53%;
    } 
    .regalos p{
        font-size: 1.1rem;
    }
    .contDatosBancarios p{
        font-size: 1.1rem;
    }
    .galeria{
        width: 50%;
    }
    .separadorInicio{
        height: 21rem;
    }
    .asistencia p{
        font-size: 1.1rem;
    }
    .btnWhatsapp{
        width: 16rem;
    }
}