@font-face {
    font-family: 'suttimmos';
    src:url('../fonts/suttimmos.ttf');
    font-weight: normal;
    font-style: normal;
}
h3 {
    font-family: 'suttimmos', cursive;
    font-size: 3.5rem;
    color: #cf787c;
  }
  span{
    /* color: #a58da7; */
    color: #cf787c;
  }
.separadorInicio {
    height: 10rem;
    background-image: url("../img/ornamentaFrida.png");

  }
  .separadorFin {
    height: 10rem;
    background-image: url("../img/ornamentaFrida.png");
    transform: rotate(0deg);
  }
  .banner {
    width: 100%;
    height: 30rem;
    background-image: url("../img/portadaFrida.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  #reloj span{
    color: black;
  }
  .btnAudio{
    background-color:  #cf787c;
  }
  .textoBanner{
      height: 35%;
      margin-top: 5.5rem;
      justify-content: space-around;
  }
  .textoBanner h1 {
    font-family: 'suttimmos';
      font-size: 7rem;
      margin: 0rem;
      color: #a38e79;
      text-shadow: none;
  }
  .textoBanner h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #a38e79;
    text-shadow: none;
    margin-top: -6rem;
  }
 .banner p{
     color: black;
     text-shadow: none;
 }
 .dondeCuando h3 {
    margin-top: 2rem;
}
.vestimenta{
    display: flex;
    flex-direction: column;
}
.vestimenta img{
    margin-bottom: 3rem;
}
.tarjeta{
    font-size: 1rem;
}
.tarjeta span{
    font-weight: bold;
  margin-right: 0.5rem;
}
.regalos i{
    color: #cf787c;
}
.regalos h3{
    margin-top: 1rem;
}
@media screen and (min-width: 768px) {
    .navMenu {
        background-color: #cf787c;
      }
    .navMenu li a:hover {
        color: black;
      }
      .textoBanner h1{
          font-size: 10rem;
      }
      .textoBanner h2{
          font-size: 1.5rem;
          margin-top: -4rem;
      }
      .banner {
        height: 50rem;
        background-image: url("../img/portadaFrida.webp");
      background-size:contain;
      }
      .banner p{
        color: #a38e79;
      }
      #reloj p{
          font-size: 1.2rem;
          color: #cf787c;
      }
      #reloj span{
        color: #cf787c;
      }
}