@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
    font-family: 'allegro';
    src:url('../fonts/allegro-regular.woff');
    font-weight: normal;
    font-style: normal;
}

.separadorInicio, .separadorFin{
    background-image: url("../img/galeriaJude/ornamentaJude.png");
}
.textoBanner h1{
 
    font-family: allegro;
    font-size: 8rem;
    margin-top: 13rem;
    margin-left: -4rem;
} 
.textoBanner h2{
    font-family: allegro;
    font-size: 3rem;
}
h3{
    color: #b268b7;
    font-family: allegro;
    font-size: 2.7rem;
}
.dondeCuando h5{
    font-family: allegro;
    font-size: 3rem;
}
.dondeCuando span{
    font-family: allegro;
    font-size: 1.8rem;
}

#reloj span{
 color: white;
}
.dondeCuando h4, .dondeCuando h5{
    text-transform: none;
  }
h5, span{
    color: #b268b7;
}
h5{
    margin-left: -0.8rem;
}
.navBar{
    color: #b268b7;
}
.navMenu{
    background-color: #b268b7;
}
.btnAudio{
    background-color: #b268b7;
}
.banner {
height: 35rem;
background-image: url("../img/galeriaJude/2.webp");
  background-size: cover;
  }
 .btnWhatsapp{
     border: none;
 } 
 @media screen and (min-width: 768px) {
    .banner {
        background-image: url("../img/galeriaJude/backgroundImagen.webp"); ;
        height: 50rem;
        width: 50rem;
        background-size: cover;
      } 
  }