.banner {
    height: 35rem;
    background-image: url("../img/galeriaVaniLucas/portada.webp");
  background-size: contain;
  }
 .btnWhatsapp{
     border: none;
 } 
 .textoBanner{
    justify-content: space-between;
    margin-bottom: 1rem;
 }
 .textoBanner h1{
    font-size: 3.8rem;
    padding: 1rem;
    font-family: "Great Vibes", cursive;
    text-shadow: 0.2rem 0.2rem 0.3rem #000000;
 }
 .textoBanner h2{   
    font-size: 2rem;  
    padding-left: 1rem;
    padding-right: 1rem;
    background: linear-gradient(#e89d96,#a57974);
    background-clip: inherit;
    -webkit-background-clip: text;
    color: transparent;  
 }
 .textoBanner{
 text-shadow: none;
 }
 p, h4, .navBar{
    background: linear-gradient(#d19421,#ac8131);
    background-clip: inherit;
    -webkit-background-clip: text;
    color: transparent;  
 }
 .spotify{
    margin: 0 auto;
 }
 .btnMapa, .btnFecha{
    color: #d19421;
 }
 .banner p{
  color: white;
   text-shadow: 0.1rem 0.1rem 0.1rem #000000;
 }
 .banner span{
    color: white;
 }
 h5, h3, span{
   background: linear-gradient(#e89d96,#864e48);
   background-clip: inherit;
   -webkit-background-clip: text;
   color: transparent;  
 }
 .navMenu, .btnAudio{
    background-color: #b76c64;
    background: linear-gradient(#e89d96,#864e48);
 }
 .dondeCuando h5{
   text-transform: none;
 font-family: "Great Vibes", cursive;
font-size: 2rem;
}
.btnWhatsapp{
   background-color:white;
   border: solid;
border-color: #d1a949;
border-width: .1rem;
color: #d1a949;
}
.btnWhatsapp i{
   color: #d1a949;
}
#menuComida{
   border-color: #d1a949;
   color: #d1a949;
}
.btnDatosBancarios{
   border-radius: .3rem;
border: solid;
border-width: .1rem;
border-color: #d1a949;
color: #d1a949;
}
.separadorInicio {
   background-image: url("../img/galeriaVaniLucas/ornamenta.png");
 }
 .separadorFin {
   background-image: url("../img/galeriaVaniLucas/ornamenta.png");
 }
 .vestimenta{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .vestimenta h3{
    padding-right: 1rem;
 }
  @media screen and (min-width: 768px) {
     .banner{
      background-image: url("../img/galeriaVaniLucas/portadaWeb.webp");
        height: 50rem;
        background-size: contain;
     }

     .textoBanner h1{
        font-size: 5rem;
     }
     .textoBanner h2{
        font-size: 2.5rem;
        margin-top: 5rem;
     }
    .dondeCuando h4{
       font-size: 1rem;
    }
     .dondeCuando h5{
    font-size: 4rem;
   }
   #menuComida{
      width: 14.3rem;
   }
  }